# Byte-compiled / cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env/
.venv/

# Distribution / packaging
build/
dist/
*.egg-info/

# Logs
*.log

# IDEs / Editors
.vscode/
.idea/

# Environment variables
.env

# Testing / coverage
.pytest_cache/
.coverage
htmlcov/

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db